                                /* _____________________________
                    
                                        Books Products CSS   
                   
                                   ___________________________*/

                /* _________________________

                        STANDARD ELEMENTS 
                    ________________________*/

body 
{
    background: #000 !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p
{
    font: #FFF;
}

#wrapper
{
    width: 1200px;
    margin: auto;
    padding-bottom: 20px;
}

#MainContent_pnlBooks div
{
    float: left;
    text-align: center;
    padding-left: 37px;
    padding-right: 20px;
    margin: 0% 0% 5%;
}

#rightside_content
{
    width: 430px;
    margin: 0 6% 7%;
    height: auto;
    display: block;
    float: left;
}

#leftside_content
{
    width: 480px;
    margin: 0 3% 7% 0%;
    height: auto;
    display: block;
    float: left;
}

#leftside_content p
{
    color: #FFF;
}

#side_image, #side_details
{
    text-align: left;
}

.split
{
    padding: 20px 5px;
}

.bookImage
{
    width: 250px;
    height: 350px;
    padding: 9px;
    margin: 0% 6% 6% 6%;
    border-radius: 6%
}

.bookImage:hover
{
    -moz-border-radius: 1px;
    background-color: #0094ff;
    border-radius: 20px;
}

.bookTitle
{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.bookPrice
{
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: #FFF;
    text-align: center;
    padding: 0% 0%  0% 0%;
    margin: 0% 0% 0% 0%;
    font-size: 17px
}

.detailsImg
{
    height: 450px;
    margin-left: 100px;
    color: #fff;
    margin: 0% 0% 4% 17%;
}

.lblheader
{
    color: white;
    font-size: 40px;
}

.detailsdesc
{
    font-style: normal;
    color: #fff;
    font-size: 25px;
}

.DetailsPrice 
{
    font-size: 54px;
    font-weight: bold;
    color: #ff0000;
}

.dd1mount11
{
    height: 25px;
    width: 350px
}

.bookno
{
    font-size: 25px;
}

.btnsend
{
    padding: 10px 90px;
    margin: 0% 17%;
    color: #FFF;
    border: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    clear: both;
    background: linear-gradient(to bottom, darkblue, blue);
}

#clear
{
    clear: both;
}
                /* _________________________

                        STRUCTURAL ELEMENTS 
                    ________________________*/

/* _________________________

        FOOTER ELEMENTS 
    ________________________*/


footer
{
    background: #101010;
    position: relative;
    height: auto;
}

footer p, footer h4
{
    color: #FFF;
    margin: 1% 1% 3% 6%
}

footer p a
{
    color: #FFF;
    text-decoration: none;
}

footer img
{
    width: 40%
}

.pull-right p
{
    padding-left: 90%;
}

.ws_script
{
    position: absolute;
    left: -99%;
}

.hidedisplay
{
	position: relative;
	z-index: 20;
	color: #000000;
	text-decoration: none;
}

.hidedisplay img
{
	height: 50px;
	width: 50px;
    padding: 1%;
}

.hidedisplay:hover
{
	z-index: 30;
}

.hidedisplay span.showDisplayonhover
{
	display: none;
}

.hidedisplay:hover span.showDisplayonhover
{
	display: block;
	position: absolute;
	font-size: 18px;
	line-height: 25px;
	top: 5px;
	left: 20px;
	width: auto;
	padding: 10px;
	border: 1px solid #191980;
	background-color: #000000;
	color: #FFFFFF;
	text-align: left;
}
